@import url(https://fonts.googleapis.com/css?family=Dosis:600,500,300);
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

$cText: rgb(250,250,250);

$cPrimary: rgb(32, 24, 24);
$cSecondary: rgb(250,102,16);
$cTertiary: rgb(96, 96, 128);

$cPrimaryLight:   lighten($cPrimary,   25%);
$cPrimaryDark:     darken($cPrimary,   5%);
$cSecondaryLight: lighten($cSecondary, 10%);
$cSecondaryDark:   darken($cSecondary, 15%);
$cTertiaryLight:  lighten($cTertiary,  5%);
$cTertiaryDark:    darken($cTertiary,  15%);

$cGood: rgb(32,128,192);
$cAlert: rgb(192,32,48);

$sLineHeight: 1rem;

$transparent: 0.67;
$transparentLight: 0.3;
$transparentLightest: 0.15;
$speed: 0.1s;
$pixel: 0px;

@mixin border ($color: $cPrimary) {
  border: $pixel solid $color;
  border-radius: 0 0.25rem 0 0.25rem;
}
@mixin shadow ($color: $cPrimary, $amount: 2*$pixel, $hover: false) {
  box-shadow: $amount 0 0 $color;
  @if($hover) {
    &:hover {
      box-shadow: 0 0 0 $pixel $hover;
    }
  }
}
* { box-sizing: border-box; }
html {
  font-size: 16px;
  @media only screen and (max-width : 658px) {
    font-size: 3.4vw;
  }
  @media only screen and (max-width : 424px) {
    font-size: 7vw;
  }
  @media only screen and (min-width : 1200px) {
    font-size: 1.25vw;
  }
}
body {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: $cPrimaryDark;
  background-image:
    linear-gradient(45deg,
      rgba($cPrimary, 0) 1%,
      rgba($cPrimary, $transparent) 1.5%,
      rgba($cPrimary, 0) 3%),
    linear-gradient(215deg,
      rgba($cPrimary, 0) 1%,
      rgba($cPrimary, $transparent) 1.5%,
      rgba($cPrimary, 0) 3%);
  
  background-size: 1rem 1rem;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  color: $cText;
  line-height: $sLineHeight;
}
div {
  font-size: 1rem;
  line-height: $sLineHeight;
  //outline: 1px solid #F00;
}
h1, h2, h3, p {
  font-size: 1rem;
  line-height: 1rem;
  padding: 0;
  margin: 0;
}
h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.header, .footer {
  transition: all $speed ease-out;
  font-weight: 300;
  background: $cTertiaryDark;
  &:hover {
    background: rgba($cTertiary, $transparentLight);
  }
}
.header {
  align-items: baseline;
  border-bottom: $pixel dotted rgba(0,0,0,1);
  min-height: 2rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  a, p, div {
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1rem;
    display: inline-block;
    padding: 0 $pixel;
    font-weight: 300;
    &:after {
      display: inline-block;
      padding: 0 0 0 0.25rem;
      content: "\00BB";
      color: $cSecondary;
    }
  }
  a {
    color: $cSecondaryLight;
    &:hover {
      text-decoration: underline;
      color: $cText;
      background: rgba($cSecondary, $transparent);
    }
  }
  .current {
    font-weight: 600;
  }
}
.footer {
  position: fixed;
  cursor: default;
  text-align: center;
  letter-spacing: -4px;
  border-top: $pixel dotted rgba(0,0,0,1);
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  bottom: 0;
  //opacity: $transparentLight;
  a {
    padding: 1.5em;
    font-size: 0.5rem;
    text-decoration: none;
    color: rgba($cText, 0);
    transition: all $speed ease-out;
    &:hover {
      text-decoration: underline;
      text-shadow:
        0-$pixel 0 0 invert($cTertiary),
        $pixel 0 0 invert($cSecondary);
    }
  }
  &:hover {
    opacity: 1;
    letter-spacing: 0.1rem;
    a {
      color: rgba($cText, 1);
    }
  }
  
}
.menu {
  margin: 0 0 0 0.5rem;
  line-height: 1rem;
  width: calc(100% - 1rem);
  position: relative;
  overflow: hidden;
  display: block;
  @include border($cTertiaryDark);
  background: rgba($cTertiaryDark, $transparentLightest);
  transition:
    background $speed*4 ease-out,
    transform $speed*2 ease-out,
    box-shadow $speed ease-out;
  @include shadow ($cTertiary, -2*$pixel, $cSecondary);
  > a {
    outline: none;
    margin: 0;
    padding: 0 0 1rem 0.5rem;
    color: $cText;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
  }
  .items {
    position: relative;
    margin: 0;
    padding: 0;
    .button {
      font-size: 1rem;
      cursor: pointer;
      line-height: 1rem;
      height: 2rem;
      display: inline-block;
      margin: 0 1rem 1rem 0.5rem;
      padding: 0.5rem 0 0.5rem 0.5rem;
      max-width: 8rem;
      min-width: 8rem;
      @include border($cTertiary);
      color: $cText;
      background: rgba($cPrimaryDark,$transparent);
      box-shadow: 0.2rem 0 0 $cTertiary;
      text-decoration: none;
      flex: 1;
      transition: box-shadow $speed*0.5 ease-out;
      &:hover {
        color: $cText;
        background: rgba($cSecondary,$transparent);
        box-shadow: 0 0 0 $pixel $cSecondaryLight;
        border: $pixel solid $cSecondaryDark;
        text-shadow: $pixel 0 $pixel $cSecondaryDark;
      }
      &.selected {
        outline: none;
        background: rgba($cTertiary,$transparent);
        box-shadow: 0 0 0 $pixel $cTertiaryLight;
        border: $pixel solid $cTertiary;
        text-shadow: $pixel 0 $pixel $cPrimaryLight;
      }
      &:active {
        background: rgba($cTertiary, $transparentLightest);
        box-shadow: 0 0 0 $pixel $cTertiaryLight;
      }
    }
  }
  &.closed {
    height: 2rem;
    background: transparent;
    width: 12rem;
    transform: translate3d(1rem,0,0);
    padding: 0;
    @include border($cTertiary);
    &:hover {
      color: $cText;
      background: rgba($cSecondary,$transparent);
      @include border($cSecondary);
    }
    > a {
      height: 2rem;
    }
  }
  &.flash {
    transition: background $speed*4 ease-out;
    background: rgba($cSecondary, $transparent);
  }
}
.content {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  overflow: hidden;
  margin-bottom: 3.5rem;
}
.view {
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 0 0 0 0.5rem;
  @include border($cTertiaryDark);
  @include shadow($cTertiary, 0-$pixel*2);
  background: rgba($cTertiaryDark, $transparentLightest);
  transition: margin $speed ease-out;
  &:not(.closed) {
    color: $cText;
  }
  &.closed {
    color: $cTertiaryDark;
    display: inline-block;
    overflow: hidden;
    flex-basis: 1rem;
    margin: 1rem 1rem 0 1rem;
  }
  h2 {
    cursor: pointer;
    display: block;
    margin: 0;
    font-size: 1rem;
    line-height: 1rem;
    height: 2rem;
    &:hover {
      color: $cSecondary;
    }
  }
}
.nodelist {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  .node {
    height: 4rem;
    flex-basis: 12rem;
    line-height: 1rem;
    white-space: nowrap;
    margin: 0 1rem 1rem 0;
    transition: box-shadow $speed ease-out;
    @include border($cPrimary);
    &:not(.fail) {
      box-shadow: inset 0 0 0 0 $cGood,
          0.05px 0 0 0 $cGood;
      &:hover {
        background: $cPrimary;
        box-shadow: inset 0 0 0 1px $cGood,
          0.25rem 0 0 0 $cGood;
      }
    }
    .icon {
      float: left;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      &:after {
        clear: both;
      }
      li {
        margin: 0 0 0 2.5rem;
        display: block;
        font-size: 0.8rem;
        line-height: 1rem;
        a {
          color: $cText;
          text-decoration: none;
          &:hover {
            color: $cPrimaryLight;
            text-decoration: underline;
          }
        }
        .data {
          font-size: inherit;
          font-weight: 600;
          display: block;
          position: relative;
          margin: -1rem 0 0 0;
          padding: 0 1rem 0 0;
          text-align: right;
          right:0;
        }
      }
    }
  }
}
.console {
  font-family: "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace;
  color: $cText;
  margin: 0 auto 1rem auto;
  padding: 0 1rem;
  max-width: 48rem;
  min-height: 18rem;
  background: $cPrimaryDark;
  white-space: pre-wrap;
  font-size: 0.8rem;
  @include border($cPrimary);
}
.signal {
  color: $cGood;
}    
.fail {
  animation: alertblink $speed*8 ease-in-out infinite;
  order: -1;
  .data.signal {
    color: $cAlert;
  }
  &.node {
    @include border($cAlert);
  }
  &:hover {
    animation: none;
    box-shadow: inset 0 0 0 1px $cAlert,
      0.25rem 0 0 0 $cAlert;
  }
}
@keyframes alertblink {
  0% {
    background: rgba($cAlert, 0);
    box-shadow:
      inset 0 0 2rem -1rem rgba($cAlert,0),
      0.05px 0 0 $cAlert;
  }
  50% {
    background: rgba($cAlert, $transparentLightest);
    box-shadow: inset 0 0 1rem -0.5rem $cAlert,
      0.25rem 0 0 $cAlert;
  }
  100% {
    background: rgba($cAlert, 0);
    box-shadow: 
      inset 0 0 2rem -1rem rgba($cAlert,0),
      0.05px 0 0 $cAlert;
  }
}